.position_login{
    display: flex;
    max-width: 100%;
    justify-content:space-evenly;
    padding: 8rem;
}
.account_img{
    padding: 2rem;
    display: flex;
    height: 55vh;
    width: 40vw;
}
.account_img{
    justify-content: center;
    align-items: center;
}
.position_login section{
    border-radius: 2rem;
    height: 60vh;
    width: 27vw;
    background-color:var(--card);

}
.position_login section h2{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 6rem;
}
.input_form{
    height: 4vh;
    width: 17vw;
    padding: 10px;
    border-radius: 0.2rem;
    border:1px solid var(--secundario);
    font-size: 1rem;
    margin: 1rem;
}
.input_form:focus{
    outline: 3px solid var(--secundario);
}
.position_form{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1.5rem;
}
.position_recordar{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-right:14rem;
}
.position_recordar b{
    padding-left:0.5rem;
}
form b{
    font-size: 1.3rem;
}