.body_anuncios{
    max-width: 100%;
    padding:5rem;
}
.card_columns {
    display: flex;
    justify-content: center; /* Centra las columnas horizontalmente */
    padding: auto; /* Espacio entre las tarjetas */
    flex-wrap: wrap;
}
/* Esta es la parte de la carta */
.card {
    position: relative;
    display: flex; /* Muestra el contenido como flexbox */ 
    margin: 1.5vw; /* Ajusta el espaciado interno */
    flex-direction: column; /* Coloca el contenido en una columna */
    justify-content: space-between; /* Distribuye el contenido verticalmente */
    width: 25vw;
    box-shadow: 0px 9px 33px -3px var(--shadow);
    border-radius: 1rem;
    overflow: hidden;
    padding: 0.5rem;
}
/* esta position se encuentra en el login--> todavia esta en proceso */
.position_login{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Aca esta la imagen de la card */
.card img {
    flex: 1; /* Ocupa todo el espacio disponible dentro de la tarjeta */
    object-fit: cover; /* Ajusta el tamaño de la imagen */
    width: 100%;
    transition: all 0.6s ease;
}
.card img:hover{
    scale: 1.3;
}
.card_body {
    position: relative;
    display: flex; /* Muestra el contenido como flexbox */ 
    flex-direction: column; /* Coloca el contenido en una columna */
    justify-content: space-between; /* Distribuye el contenido verticalmente */
    word-wrap: break-word;
    border-radius: 1rem;
    background-color: rgb(250, 235, 215);
}
.card_body h5{
    padding-top: 1rem;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.color_a{
    color: var(--secundario);
    font-size: 1.5rem;
}
.card_body p{
    padding: 0.5rem;
    display: flex;
    font-size: 1.5rem;
    justify-content:center;
    padding-right:0.5rem;
    align-items: center;
    color: var(--secundario);
}
.card_body p b{
    padding-left:0.5rem;
}
.card_body button a{
    font-size: 1.5rem;
    color:rgb(22, 21, 21);
}
.card_body button{
    border-radius: 1rem;
    border: none;
    background-color: var(--btn);
    transition: 0.5s all ease-in-out;
}
.card_body button:hover{
background-color: var(--pincipal);
}

/* --------este es el contendor position de la card del show y del loginAccount ----------- */
