:root{
    --principal:rgb(152, 219, 152);
    --secundario:rgb(195, 240, 140);
}
*{
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
     box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
.btn{
    width: 10vw;
    background-color:var(--principal);
    text-align: center;
    padding: 10px;
    border-radius:6%;
    transition: 0.5s all ease-out;
    color: white;
    height: auto;
}
a{
    text-decoration: none;
}