h1 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3rem;
  padding-left: 60px;
  padding-right: 10px;
  margin-bottom: 30px;
  color: antiquewhite;
  -webkit-text-stroke: 2px rgb(172, 98, 8); /* Ancho y color del contorno */
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8); /* Sombreado para efecto de profundidad */
}

.empleo {
  font-size: 45px;
  font-weight: bold;
  color: #FF4500;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.padingtop20{
  padding-top: 20px;
}

.btn{
  background-color: rgb(172, 98, 8);
  color: black;
}


:root{
  --principal:rgb(152, 219, 152);
  --secundario:rgb(195, 240, 140);
}
*{
  padding: 0;
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
   box-sizing: border-box;
}
ul,ol{
  list-style: none;
}

a{
  text-decoration: none;
}


body {
  position: relative;
  /* Ajusta el valor del left para dejar espacio para la barra de navegación */
}

/* Asegúrate de asignar un z-index mayor a los elementos que quieres que estén por encima de la barra de navegación */
.your-div {
  position: relative;
  z-index: 1000; /* Asigna un valor mayor que el z-index de la barra de navegación */
}
