.navbar {
  margin-top: 5vh;
  margin-right: 3vh;
  margin-left: 3vh;
  margin-bottom: 5vh;
  background-color: antiquewhite;
  box-sizing: border-box;
  height: auto; /* Reduce la altura de la navbar en un 20% */
}

.search {
  display: none;
}
